<% provide(:page_title, "My Tasks") %>
<% provide(:tasks_active, 'active') %>

<div class="container">
	<div class="row my-5">
		<div class="col-sm-6 offset-sm-3 show-view">
			<% @task_lists.each do |task_list| %>
			<div class="index_row clearfix text-center">
			  <h2 class="todo_list_title font-weight-bold"><%= link_to task_list.title, task_list %></h2>
			  <hr class="mx-5">
			  <p class="todo_list_sub_title"><%= task_list.description %></p>
			</div>
			<br>
			<% end %>
		</div>
	</div>
</div>
