@import "bootstrap";
@import "navbar";
@import "colors";
@import "tasks";
@import "landing";

* { box-sizing: border-box; }

html {
  height: 100%;
}

body {
 	height: 100%;
  background: -webkit-linear-gradient(180deg, #F8F9FA 50%, #F1ECE9 100%);
  background:    -moz-linear-gradient(180deg, #F8F9FA 50%, #F1ECE9 100%);
  background:     -ms-linear-gradient(180deg, #F8F9FA 50%, #F1ECE9 100%);
  background:      -o-linear-gradient(180deg, #F8F9FA 50%, #F1ECE9 100%);
  background:         linear-gradient(180deg, #F8F9FA 50%, #F1ECE9 100%);
  font-family: 'Lato', sans-serif;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

